var settings = {
  api: {
    base: "${API_BASE}",
  },
  date_min: "${DATE_MIN}",
  opsn: "${OPSN}",
  region: "${REGION}",
  departements: "${DEPARTEMENTS}",
  color: "${FRONT_THEME_COLOR}",
  mentions_legales: "${MENTIONS_LEGALES}",
};
