configs:
  dotenv:
    file: .env

services:
  db:
    image: mariadb:latest@sha256:b1cb255a9939d28a1856815f0de6046c20c28c21b92a9f2696bc782b247a47ee
    restart: always
    shm_size: 128mb
    environment:
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD : ${MARIADB_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${MARIADB_PASSWORD}
      MARIADB_DATABASE: ${MARIADB_DATABASE}
    volumes:
      - /var/lib/mysql:/var/lib/mysql
    ports:
      - 3306:3306
      
  api:
    build: ./api
    image: focus-marches-v2-api
    ports:
      - 8000:80
    environment:
      DATABASE_URL: mariadb+mariadbconnector://${MARIADB_USER}:${MARIADB_PASSWORD}@db:3306/${MARIADB_DATABASE}
    configs:
      - source: dotenv
        target: /.env

  front:
    build: ./front
    image: focus-marches-v2-front
    ports:
      - 80:80
    env_file: ".env"