services:
  db:
    image: postgres:latest@sha256:c1f0abd909b477d6088c72e4cd6eb01ea525344caca1b58689ae884204369502
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DATABASE}
    ports:
      - 5432:5432
