services:
  db:
    image: mariadb:latest@sha256:b53f2fd9615cd21f004e59fdabd5a1cadb19c74fcf376a14b35e6767d3382ecf
    restart: always
    shm_size: 128mb
    environment:
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD : ${MARIADB_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${MARIADB_PASSWORD}
      MARIADB_DATABASE: ${MARIADB_DATABASE}
    ports:
      - 3306:3306
