services:
  db:
    image: mariadb:latest@sha256:e487701b1f7e3f47319fe005b417c72becb67824a58b7bd35c6505f070f66dcd
    restart: always
    shm_size: 128mb
    environment:
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD : ${MARIADB_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${MARIADB_PASSWORD}
      MARIADB_DATABASE: ${MARIADB_DATABASE}
    ports:
      - 3306:3306
