/* You can add global styles to this file, and also import other style files */
@use 'primeicons/primeicons.css';
@use '@/assets/tailwind.css';
@use '@/assets/layout/layout.scss';
@use '@/assets/demo/demo.scss';

section {
    margin: 5rem 0;
}

p {
    text-align: justify;
}

h2 {
    border-top: 5px solid var(--p-primary-color);
    width: fit-content;
    font-size: 1.5rem;
}

h3 {
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
    text-transform: uppercase;
}

summary {
    margin: 2rem 0;
    padding: 1rem;
    width: fit-content;
}
details {
    padding: 0 5rem;
}

details h3 {
    border-bottom: 1px solid var(--p-primary-color);
}

details ul {
    padding-left: 2rem;
    list-style: disc;
}
