@use 'mixins' as *;

.layout-menu {
    margin: 0 1rem;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-weight: bolder;
    font-size: 1.2rem;

    .layout-menu-item a {
        display: inline-flex;
        padding: 0.7rem;
    }

    .layout-menu-item:hover {
        color: var(--p-primary-color);
    }

    .layout-menu-item i {
        margin-right: 0.3rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 800px) {
    .layout-topbar {
        nav {
            width: 100%;
        }
    }

    .layout-menu {
        padding: 1rem 0;
        display: none;
        width: 100%;
        height: fit-content;
        flex-direction: column;
        background: var(--surface-card);
    }

    .layout-mobile-active .layout-menu {
        display: inline-flex;
    }

    .layout-menu-item a {
        width: 100%;
    }
}
